@font-face {
  font-family: MaterialSymbols;
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url("/fonts/material-symbols-outlined-latin-full-normal.woff2") format("woff2-variations");
}

.material-symbols-outlined {
  font-family: MaterialSymbols !important;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  color: currentColor;
}
